<div class="container-narrow">

      <h1>Future admin page</h1>

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    <img  src="./img/VartKanJagParka.png" style=" max-width:45%;
        display: block;
    margin-left: auto;
    margin-right: auto;">
</div>
    <div class="item">…</div>
    <div class="item">…</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>



 </div> <!-- /container -->

<div class="container-narrow">
    <div class="footer">
      <h4>Find me on a social media</h4>

       <div class="row">
        <div class="span1">
          <div class="media">
          <a class="pull-left" href="http://www.facebook.com/kristoffer.skjutar">
         <img class="media-object" src="./img/Facebook.png" >
          </a>
        </div>
      </div>

        <div class="span1">

          <div class="media">
          <a class="pull-left" href="http://www.linkedin.com/in/kristofferskjutar">
         <img class="media-object" src="./img/Linkedin.png">
          </a>
        </div>
          
        </div>

        <div class="span1">
        <div class="media">
          <a class="pull-left" href="http://twitter.com/KSkjutar">
         <img class="media-object" src="./img/Twitter.png">
          </a>
        </div>
         </div>

         <div class="span1">
        <div class="media">
          <a class="pull-left" href="http://plus.google.com/u/0/111369854365333048606/posts">
         <img class="media-object" src="./img/Googleplus.png">
          </a>
        </div>
         </div>


      </div>
        <p style="margin-top: 20px;">&copy; Skjutar's software 2013</p>
      </div>
    </div>



    <style>
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}
</style>