<div class="container-narrow">

      <div class="jumbotron">
        <h1>Welcome to my portfolio!</h1>
        <p class="lead">Here you will find information about who I am and what I have done. Feel free to explore my projects and if you have any questions, please contact me. </p>
        <a class="btn btn-large btn-success" href="mailto:kskjutar@gmail.com">Email</a>
      </div>

      <hr>

       <div class="featurette">
        <img class="featurette-image pull-right" src="https://dl.dropboxusercontent.com/s/vkkfwb1rkrxz8gi/profilbild.png" style="
border-radius:10px;">
        <h2 class="featurette-heading">Who am I ? <span class="muted">A 21 year old engineering student.</span></h2>
        <p class="lead">I have a great passion for developing applications and I am always curious to learn new techniques. So in my spare time I love to participate in hackathon’s and develop my own small projects. </p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <div ng-repeat="skill in skills.slice(0, 3)">
            <h4>{{skill.title}}</h4>
            <p>{{skill.text}}</p>
          </div>
        </div>

        <div class="span6">
          <div ng-repeat="skill in skills.slice(3, 6)">
            <h4>{{skill.title}}</h4>
            <p>{{skill.text}}</p>
        </div>
        </div>


      </div>


      <hr>

      

    </div> <!-- /container -->

    <div class="container-narrow">
    <div class="footer">
      <h4 id="footerText">Find me on a social media</h4>

       <div class="row">
        <div class="span1">
          <div class="media">
          <a class="pull-left" href="http://www.facebook.com/kristoffer.skjutar">
         <img class="media-object" src="https://dl.dropboxusercontent.com/s/iqzc6yjuzv4k7nr/Facebook.png" >
          </a>
        </div>
      </div>

        <div class="span1">

          <div class="media">
          <a class="pull-left" href="http://www.linkedin.com/in/kristofferskjutar">
         <img class="media-object" src="./img/Linkedin.png">
          </a>
        </div>
          
        </div>

        <div class="span1">
        <div class="media">
          <a class="pull-left" href="http://twitter.com/KSkjutar">
         <img class="media-object" src="./img/Twitter.png">
          </a>
        </div>
         </div>

         <div class="span1">
        <div class="media">
          <a class="pull-left" href="http://plus.google.com/u/0/111369854365333048606/posts">
         <img class="media-object" src="./img/Googleplus.png">
          </a>
        </div>
         </div>


      </div>
        <p style="margin-top: 20px;">&copy; Skjutar's software 2013</p>
      </div>
    </div>
