<div class="modal-header">
    <h2 class="form-signin-heading">Please sign in</h2>
</div>
<div class="modal-body">
    <div class="container">

      <form class="form-signin" ng-submit="submit()">
        <input type="text" class="input-block-level" placeholder="Username" ng-model="user.username">
        <input type="password" class="input-block-level" placeholder="Password" ng-model="user.password">
        <button class="btn btn-large btn-primary" type="submit" >Sign in</button>
      </form>

      <h1>{{status}}</h1

    </div> <!-- /container -->
</div>
</div>