<div class="container-narrow">
<div class="projects">
  <div class="jumbotron">
        <h1>My Projects</h1>
        <p class="lead">Here you will find both my current and finished projects. If you would like to view the source code for any project, please see my Bitbucket account. </p>
        <a class="btn btn-large btn-info" href="https://bitbucket.org/skjutar">Bitbucket</a>
      </div>


       <hr>
      <div class="featurette">
        <img class="featurette-image pull-right" src="https://dl.dropboxusercontent.com/s/ah3pk81obc7592i/VartKanJagParka.png" style="
border-radius:10px; max-width:45%; margin-top:-10px">
        <span class="badge badge-success">Android</span>
        <h2 class="featurette-heading">VartKanJagParka?<span class="muted">An application for finding parkinspaces in Gothenburg.</span></h2>
        <p class="lead">My current ongoing project. Users can search nearby parking spaces in Gothenburg and filter the result based on maximum parking hours and cost. Planned features includes viewing traffic cameras and saving parkingspaces as favorites. Uses the city of Gothenburg's open API. </p>
      </div>

      <hr>

      <div class="featurette">
        <img class="featurette-image pull-left" src="https://dl.dropboxusercontent.com/s/410x47li3x3quee/Rating.png" style="
 max-width:50%; margin-top:-30px; ">
        <span class="badge badge-important">Web</span>
        <h2 class="featurette-heading">Rating.se <span class="muted">Rate and comment companies</span></h2>
        <p class="lead">A project for Listan.se who needed an application where costumers could comment and rate companies. The project included both a webinterface and an API. Built with the Spring framework and JQuery as backend respectively frontend. Planned to be rolled out Spring 2014.</p>
      </div>
 
      <hr>
      <div class="featurette">
        <img class="featurette-image pull-right" src="https://dl.dropboxusercontent.com/s/hr3d9z0hjr69gmt/beerBook.png" style="
border-radius:10px; max-width:50%; margin-top:-50px">
        <span class="badge badge-success">Android</span>
        <h2 class="featurette-heading">Beerbook <span class="muted">A social network application for beer enthusiasts.</span></h2>
        <p class="lead">Users can follow others, scan beers and add to their collection. Built with a REST backend using PHP, MySQL and Tomcat running on my Raspberry Pi. Database created using Systembolages open API. </p>
      </div>

      <hr>

      <div class="featurette">
        <img class="featurette-image pull-left" src="https://dl.dropboxusercontent.com/s/grn5644mc2umjeb/OVE.png" style="
 max-width:50%; margin-top:-30px; ">
        <span class="badge badge-important">Web</span>
        <h2 class="featurette-heading">Project OVE <span class="muted">A web-based admin tool for Chalmers Study Project.</span></h2>
        <p class="lead">A schoolproject using Enterprise Java Bean (EJB) and Derby database on a Glassfish server. Uses an own-developed account confirmation system based on JavaMail service. Frontend uses Primefaces libary.</p>
      </div>

      <hr>

      <div class="featurette">
        <img class="featurette-image pull-right" src="https://dl.dropboxusercontent.com/s/ese3kotpt9qkuuk/tanksation.png" style="
 max-width:50%; border-radius:10px; margin-top:10px;">
        <span class="badge badge-warning">Desktop Game</span>
        <h2 class="featurette-heading">Tanksation <span class="muted">Blast some cows.</span></h2>
        <p class="lead">A shooting game were you either blast some cows or your friends with a tank over Internet. Written in Java using lwgl.</p>
      </div>

    <hr>

</div>

<div class="container-narrow">
    <div class="footer">
      <h4 id="footerText">Find me on a social media</h4>

       <div class="row">
        <div class="span1">
          <div class="media">
          <a class="pull-left" href="http://www.facebook.com/kristoffer.skjutar">
         <img class="media-object" src="https://dl.dropboxusercontent.com/s/iqzc6yjuzv4k7nr/Facebook.png" >
          </a>
        </div>
      </div>

        <div class="span1">

          <div class="media">
          <a class="pull-left" href="http://www.linkedin.com/in/kristofferskjutar">
         <img class="media-object" src="./img/Linkedin.png">
          </a>
        </div>
          
        </div>

        <div class="span1">
        <div class="media">
          <a class="pull-left" href="http://twitter.com/KSkjutar">
         <img class="media-object" src="./img/Twitter.png">
          </a>
        </div>
         </div>

         <div class="span1">
        <div class="media">
          <a class="pull-left" href="http://plus.google.com/u/0/111369854365333048606/posts">
         <img class="media-object" src="./img/Googleplus.png">
          </a>
        </div>
         </div>


      </div>
        <p style="margin-top: 20px;">&copy; Skjutar's software 2013</p>
      </div>
    </div>

