<!doctype html>
<html lang="en" ng-app="portfolio">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <script src="lib/jquery/jquery-1.10.2.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-animate.js"></script>
  <script src="lib/angular/angular-resource.min.js"></script>
  <script src="lib/angular/angular-route.min.js"></script>
  <script src="lib/angular-ui-bootstrap.js"></script>
  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>

</head>
<body>


  <div class="container-narrow">
    <div class="masthead" data-ng-controller="HeaderCtrl">
        <ul class="nav nav-pills pull-right">
          <li  ng-class="{ 'active':isActive('/home')}"><a href="#/home">Home</a></li>
          <li ng-class="{ 'active': isActive('/myProjects')}"><a href="#/myProjects">My Projects</a></li>
          <li><a href=""  ng-hide="!hideAdmin" ng-click="open()">Sign in</a> </li>
          <li ng-class="{ 'active':isActive('/admin')}" ng-hide="hideAdmin"><a href="#/admin">Admin</a></li>
          <li><a href="" ng-hide="hideAdmin" ng-click="logout()">Sign out</a></li>
        </ul>
        <h3 class="muted">Kristoffer Skjutar</h3>
      </div>

      <hr>
  </div>
    <div ng-view></div>


</body>
  <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
      .muted {
        font-size: 50px;
      }
      .masthead{
        margin-top: 20px;
      }
      .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }
    .lead {
      margin-top: 10px;
    }
      /* Supporting marketing content */
      .marketing {
        margin: 706x 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
       .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 30px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -10px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
      max-width: 100%;
    }
    .masthead .muted {
      font-size: 24.5px;
    }

    .row{
      margin-top: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: normal;
      color: #5a5a5a;
      line-height: 1;
      letter-spacing: -1px;
    }

    .footer{
      margin-top: 100px;
    }

    .projects .span3 {
      text-align: center;
    }
    .projects h2 {
      font-weight: normal;
    }
    .projects .span3 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .media-object{
        width:90px !important;
        height:90px !important;
      }

      .span1{
          padding-bottom: 20px;
         float: none !important;
         margin: 0 auto !important;
         width:100px;

      }

      
      #footerText{
        text-align: center;
      }

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }


       

     

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }


     

    }

    </style>

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-48082688-1']);
  _gaq.push(['_setDomainName', 'skjutar.se']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
